<!-- Modified by : Jemie Effendy - eResearch Group (2/3/2016)-->
{% load version %}
{% load build %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <title>MASTR-MS 2</title>

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ext-theme-neptune/build/resources/ext-theme-neptune-all.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ext-plugins/saki-grid-search-all-debug.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/RowEditor.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/file-upload.css"/>

<script>
var callbackCount = 0;
function callbacker(){
    /*var email = document.getElementById('email').value;
    
    if (email == "" && callbackCount < 5) {
        //console.log("waiting...");
        callbackCount += 1;
        window.setTimeout("callbacker();", 100);
        return;
    }*/
    //MA.InitApplication('{{ APP_SECURE_URL }}', '{{ user.email }}', '{{ mainContentFunction }}', '{{ params|safe }}');
    MA.InitApplication('{{ APP_SECURE_URL }}', '{{ user.email }}', '{{ mainContentFunction }}', '{{ params|safe }}');
    
    document.getElementById("appLoad").style.display = "none";
}
</script>

</head>
<body onLoad="callbacker();" style="background:white">


<div id="north"><div id="appTitle">MASTR-MS 2</div><div id="toolbar"></div></div>

<div id="south" style="text-align: center; font-size: 10px;">MASTR-MS 2 v{% version %} Build {% build %} &copy; Metabolomics Australia <script>document.write(new Date().getFullYear())</script></div>


<div id="content" style="position:relative;">
    <div id="appLoad" style="z-index:1;position:absolute;left:0px;top:0px;width:100%;height:100%;background:white;padding:200px;"><img src="{{ STATIC_URL }}extjs/ext-theme-neptune/build/resources/images/loadmask/loading.gif"> Loading Mastr-MS 2...</div>
    <div id="loginDiv" width="300">
        <form id="loginForm" action="{{ APP_SECURE_URL }}login/processLogin" method="POST">
            {% csrf_token %}
            <div class="x-field x-form-item x-form-item-default" style="margin-bottom:5px; margin-top:5px;">
                <label class="x-form-item-label x-form-item-label-default" style="padding-right:5px;width:105px;">Email:</label>
                <div class="x-form-item-body" style="margin-top: 10px;">
                    <input class="x-form-field x-form-required-field" style="width:200px" id="email" name="email">
                </div>
            </div>
            <div class="x-form-clear-left">
            </div>
            <div class="x-field x-form-item x-form-item-default" style="margin-bottom:5px">
                <label class="x-form-item-label x-form-item-label-default" style="padding-right:5px;width:105px;">Password:</label>
                <div class="x-form-item-body" style="margin-top: 10px;">
                    <input class="x-form-field x-form-required-field" style="width:200px" id="password" name="password" type="password">
                </div>
            </div>
            <div class="x-form-clear-left">
            </div>
            <input class="x-btn x-toolbar-item x-btn-default-medium" type="submit" value="Login" style="color:white; font-weight:bold; margin-left: 255px; margin-top:5px; margin-bottom: 5px;">
        </form>
    </div>
</div>

<div id="centerDiv"></div>



<script type="text/javascript" src="{{ STATIC_URL }}js/repo/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/scriptaculous/scriptaculous.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-theme-neptune/build/ext-theme-neptune.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-plugins/saki-grid-search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/DisplayField.js"></script>

<!-- setup variable -->
<script>
Ext.ns('MA', 'MA.Dashboard');
MA.BaseUrl = '{{ APP_SECURE_URL }}';
MA.apiBaseUrl = "{% url 'home' %}api/v1/";
//if(Ext.isIE6 || Ext.isIE7 || Ext.isAir){ Ext.BLANK_IMAGE_URL = "{{ STATIC_URL }}images/s.gif"; }
</script>

<!-- Mastr-MS 2 scripts -->
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/repo/datastores.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/renderers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/models.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/repo/samples.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/tracking.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/biosource.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/treatment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/sampleprep.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/access.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/files.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/runs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/runlist.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/rulegenerators.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/repo/projects.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/repo/clients.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/datastores.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/menu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/registration.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/report.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/admin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/user.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/quote.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/screencasts.js"></script>

</body>
</html>
