.x-colorpicker {
    overflow: visible;
    /* FIXME the following is a temporary add-on */
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.x-colorpicker > .x-box-inner {
    overflow: visible
}

.x-colorpicker .x-form-item-label {
    text-align: center
}

.x-colopicker-escape-overflow {
    overflow: visible
}

.x-colopicker-escape-overflow > .x-box-inner {
    overflow: visible
}

.x-colorpicker-colormap {
    background-image: url(images/colorpick/map_gradient.png)
}

.x-colorpicker-colormap-draghandle-container {
    overflow: visible;
    z-index: 1
}

.x-colorpicker-colormap-blender {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.x-colorpicker-colormap-draghandle {
    width: 15px;
    height: 15px;
    position: relative;
    left: -7px;
    top: -7px;
    background-image: url(images/colorpick/drag_circle.png)
}

.x-colorpicker-draghandle-container {
    width: 20px
}

.x-colorpicker-draghandle {
    width: 32px;
    height: 9px;
    position: relative;
    left: -6px;
    top: -4px;
    background-image: url(images/colorpick/pickerslider.png);
    background-repeat: no-repeat;
    z-index: 1
}

.x-colorpicker-hue {
    background-image: url(images/colorpick/huegradient.png)
}

.x-colorpicker-hue-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.x-colorpicker-saturation > .x-colorpicker-draghandle-container {
    background: -mox-linear-gradient(top, white 0, black 100%);
    background: -webkit-linear-gradient(top, white 0, black 100%);
    background: -o-linear-gradient(top, white 0, black 100%);
    background: -ms-linear-gradient(top, white 0, black 100%);
    background: linear-gradient(to bottom, #fff 0, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0)
}

.x-colorpicker-value > .x-colorpicker-draghandle-container {
    background: -mox-linear-gradient(top, red 0, black 100%);
    background: -webkit-linear-gradient(top, red 0, black 100%);
    background: -o-linear-gradient(top, red 0, black 100%);
    background: -ms-linear-gradient(top, red 0, black 100%);
    background: linear-gradient(to bottom, #f00 0, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#000000', GradientType=0)
}

.x-colorpicker-alpha > .x-colorpicker-draghandle-container {
    background-image: url(images/colorpick/checkerboard.png)
}

.x-colorpicker-preview {
    background-image: url(images/colorpick/checkerboard.png)
}

.x-colorpicker-button {
    position: relative;
    border: 1px solid gray;
    background-image: url(images/colorpick/checkerboard.png)
}

.x-colorpicker-field .x-form-item-body {
    position: relative
}

.x-colorpicker-field input {
    padding-left: 26px
}

.x-colorpicker-field-swatch {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    background-image: url(images/colorpick/checkerboard.png);
    top: 0;
    bottom: 0;
    margin: auto
}

.x-colorpicker-field-swatch-inner {
    position: absolute;
    height: 100%;
    width: 100%
}

.ux-rating-picker {
    overflow: hidden;
    color: #ccc;
    filter: alpha(opacity=80);
    opacity: .8;
    display: inline-block;
    vertical-align: top;
    line-height: 1
}

.ux-rating-picker-inner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    white-space: nowrap
}

.ux-rating-picker-over.ux-rating-picker-track-over {
    color: #ccc
}

.ux-rating-picker-over.ux-rating-picker-track-over > * > .ux-rating-picker-value {
    display: none;
    width: 0
}

.ux-rating-picker-over.ux-rating-picker-track-over > * > .ux-rating-picker-value:hover {
    color: inherit
}

.ux-rating-picker-over.ux-rating-picker-track-over > * > .ux-rating-picker-tracker {
    display: inline-block
}

.ux-rating-picker-value, .ux-rating-picker-tracker {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    top: 0;
    width: 0;
    height: 100%;
    color: #ffe850
}

.ux-rating-picker-tracker {
    display: none
}

.ux-rating-picker-over {
    filter: alpha(opacity=100);
    opacity: 1
}